.container {
    background-image: url(../../assets/images/02-SLIDESHOW-1.jpeg);
    min-height: 750px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: #E9E6E3;
}

.content {
    
}
